<div class="gradient-custom p-5 ">
  <div class="container  justify-content-center text-center p-4 ">
    <div class="col-md-12 justify-content-center align-content-center">
      <h1>Solicitudes pendientes</h1>
    </div>
    <div class="overflow-scroll">
      <table class="table table-striped  ">


        <thead>
          <tr>
            <th scope="col">N°Solicitud</th>
            <th scope="col">Nombre y apellidos</th>
            <th scope="col">Estado</th>
            <th scope="col">fecha solicitud</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>aprobado</td>
            <td>03/01/2023</td>
            <td> <app-vista-solicitud></app-vista-solicitud>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>pendiente</td>
            <td>15/01/2023</td>
            <td>
            <app-vista-solicitud></app-vista-solicitud>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>pendiente</td>
            <td>10/02/2023</td>
            <td> <app-vista-solicitud></app-vista-solicitud>


            </td>
          </tr>

        </tbody>
      </table>
    </div>

</div>
