<header class="pb-1 ">
  <nav class="navbar navbar-light gradient-custom p-3 m-0">
    <div class="container-fluid  m-0">
      <a id="title"class="navbar-brand" href="#">
        <img src="./../../../assets/img/logo hospital.png"  class="d-inline-block ">
        SSR
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body ">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="suplencia" data-bs-dismiss="offcanvas">Ingresar Solicitud</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="estado" data-bs-dismiss="offcanvas">Estado de Solicitudes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Historial de Solicitudes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="pendientes">Solicitudes por Revisar</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"routerLink="admin/modificables">Modificables</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"routerLink="admin/dashboard">dashboard</a>
            </li>


          </ul>

        </div>

        <div class="col-md-12 m-2 d-flex justify-content-center align-content-center">
          <img src="./../../../assets/img/free-user-icon-3296-thumb.png" alt="">

        </div>
        <div class="col-md-12 m-2 d-flex justify-content-center align-content-center">

          <button class="btn btn-primary" routerLink="login" data-bs-dismiss="offcanvas">iniciar sesión</button>
        </div>

      </div>


    </div>


  </nav>

</header>
