<div class="fondo p-5 align-content-center">
  <!-- modificación de politicas que van directamente en el home -->
  <div class="container container-fluid p-5">
    <form class="row g-3">
      <div class="d-flex justify-content-center">
        <h1 style="font-family:'Courier New', Courier, monospace;">Modificar Politicas pagina de inicio</h1>
      </div>
      <div class="col-md-6">
        <label> Politicas Formato pdf</label>
        <input type="file" class="form-control">
      </div>
      <div class="col-md-6 d-grid">
        <label> Texto relevante </label>
        <textarea name="" id="" cols="20" rows="6"></textarea>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-primary ">Modificar</button>
      </div>

    </form>
  </div>
<!-- modificación de fechas de aceptación de solicitudes -->
  <div class="container container-fluid p-5 mt-3">
    <form class="row g-3">
      <div class="d-flex justify-content-center">
        <h1 style="font-family:'Courier New', Courier, monospace;">Fechas Calendario circular</h1>
      </div>

      <div class="mes text-center justify-content-around p-2 w-80">
        <select class="form-select" aria-label="Default select example">
          <option selected>MES</option>
          <option >ENERO</option>
          <option >FEBRERO</option>
          <option >MARZO</option>
          <option >ABRIL</option>
          <option >MAYO</option>
          <option >JUNIO</option>
          <option >JULIO</option>
          <option >AGOSTO</option>
          <option >SEPTIEMBRE</option>
          <option >OCTUBRE</option>
          <option >NOVIEMBRE</option>
          <option >DICIEMBRE</option>

        </select>
        <div class="row m-2  p-1 ">
          <div class="col-md-8 pt-1 d-flex justify-content-start">
            <label> Solicitudes de suplencias y reemplazos</label>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <input type="date" >
          </div>
        </div>
        <div class="row m-2  p-1 ">
          <div class="col-md-8 pt-1 d-flex justify-content-start">
            <label> Solicitudes de suplencias y reemplazos por licencias medicas continuas</label>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <input type="date" >
          </div>
        </div>
        <div class="row m-2  p-1 ">
          <div class="col-md-8 pt-1 d-flex justify-content-start">
            <label> Solicitudes de programación de trabajo y turnos extraordinarios</label>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <input type="date" >
          </div>
        </div>

      </div>

      <div class="col-md-6 d-flex justify-content-center">
        <button class="btn btn-primary ">Revisar</button>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <button class="btn btn-primary ">Modificar</button>
      </div>


    </form>
  </div>
</div>
