<div class="gradient-custom p-2 mb-2">
  <div class="container pb-2">
    <div class=" d-flex justify-content-center">
    <h1> INGRESAR SOLICITUD</h1>
    </div>

    <form  >
      <div id= "formGeneral" class="row g-3 m-1 p-0">


        <div class="col-md-12">
          <h4>UNIDAD SOLICITANTE:</h4>
        </div>

        <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#Unidad" role="button" aria-expanded="false" aria-controls="Unidad">
            UNIDAD SOLICITANTE
          </a>
        </p>
        <div class="collapse" id="Unidad">
          <div class="card card-body">
            <div class="row g-2">

              <div class="col-md-2">
                <label class="form-label">Cod. Unidad</label>
                <input type="text" class="form-control"   required>
              </div>
              <div class="col-md-5">
                <label class="form-label">Nombre Unidad</label>
                <input type="text" class="form-control"   required>
              </div>
              <div class="col-md-5">
                <label class="form-label">Área</label>
                <input type="text" class="form-control"   required>
              </div>

              <div class="col-md-6">
                <label >Tipo de contrato</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-md-6">
                <label >Tipo de turno</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label >Cargo Vacante</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6">
          <label >Politicas</label>
          <select class="form-select " aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>


        <div class="col-12">
          <h4>AUSENCIA DE:</h4>
        </div>
        <div class="row g-2 ">
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#Ausente" role="button" aria-expanded="false" aria-controls="Ausente">
              PERSONAL AUSENTE
            </a>
          </p>
          <div class="collapse mb-2" id="Ausente">
            <div class="card card-body">
              <div class="row g-2 ">

                <div class="col-md-6">
                  <label class="form-label">Rut</label>
                  <input type="text" class="form-control"   required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Nombre y Apellidos</label>
                  <input type="text" class="form-control"   required>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Ley</label>
                  <input type="text" class="form-control"   required>
                </div>
                <div class="col-md-6 ">
                  <label class="form-label">gr:</label>
                  <input type="text" class="form-control"   required>
                </div>

                <div class="col-md-4 ">
                  <label class="form-label">Calidad J.:</label>
                  <input type="text" class="form-control"   required>
                </div>

                <div class="col-md-4">
                  <label class="form-label">planta</label>
                  <input type="text" class="form-control"   required>
                </div>
                <div class="col-md-4 ">
                  <label class="form-label" >cargo</label>
                  <input type="text" class="form-control"   required>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Motivo Ausencia</label>
          <select class="form-select " aria-label="Default select example" required>
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-3 ">
          <label class="form-label" >Ausencia desde</label>
          <input type="text" class="form-control"   required>
        </div>
        <div class="col-md-3 ">
          <label class="form-label" >Ausencia Hasta</label>
          <input type="text" class="form-control"   required>
        </div>

        <div class="col-12">
          <h4>INGRESO DE:</h4>
        </div>
        <div class="row g-2 ">
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#Reemplazo" role="button" aria-expanded="false" aria-controls="Reemplazo">
              PERSONAL REEMPLAZO
            </a>
          </p>
          <div class="collapse mb-4" id="Reemplazo">
            <div class="card card-body">
              <div class="row g-2 ">

                <div class="col-md-6">
                  <label class="form-label">Rut</label>
                  <input type="text" class="form-control"   required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Nombre y Apellidos</label>
                  <input type="text" class="form-control"   required>
                </div>

                <div class="col-md-4">
                  <label class="form-label">Cargo</label>
                  <input type="text" class="form-control"   required>
                </div>
                <div class="col-md-4 ">
                  <label class="form-label">Grado:</label>
                  <input type="text" class="form-control"   required>
                </div>

                <div class="col-md-4 ">
                  <label class="form-label">Horas:</label>
                  <input type="text" class="form-control"   required>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="form-check mt-5 d-flex justify-content-center ">

        <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Solicitud extrordinaria
        </label>
      </div>
      <div class="row justify-content-center align-content-center mt-5">
        <div class="col-4 d-flex justify-content-center ">
          <button id="btn-enviar" class="btn btn " type="submit">enviar</button>
        </div>
        <div class="col-4 d-flex justify-content-center ">
          <button  class="btn btn-primary " type="button">limpiar</button>
        </div>
        <div class="col-4 d-flex justify-content-center ">
          <app-vista-solicitud></app-vista-solicitud>
        </div>

      </div>

    </form>



  </div>
</div>

