<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-start ">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="./../../../assets/img/Captura de pantalla 2023-02-02 103022.png" alt="...">
        </div>
          <div data-bs-spy="scroll" data-bs-offset="0" class="col-md-6 ">

            <h1 class="display-5 fw-bolder"> POLITICAS DE SUPLENCIAS Y REEMPLAZOS </h1>

            <p class="lead">AUTORÍCESE, a contar de la total tramitación de esta resolución la nueva política de suplencias y reemplazos en el hospital "Dr. E. Torres G." de Iquique la cual deberá ser respetada y aplicada por todas las subdirecciones, servicios, unidades, departamentos, sub. departamentos y secciones del establecimiento.</p>

        </div>
    </div>
  </div>
</section>
