<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Ver
</button>

<!-- Modal vista solicitud  -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"> Suplencia y/o reemplazo Solicitud N°</h1>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-3 d-flex justify-content-start">
            <img src="./../../../assets//img/logo ministerio.png" class="logo" alt="">
          </div>
          <div class="col-6 d-flex justify-content-center  align-items-center">
            <h1 id="subtitulo-modal"> HOSPITAL REGIONAL "DR. ERNESTO TORRES GALDAMEZ"</h1>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <img src="./../../../assets/img/logo hospital.png" class="logo" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex justify-content-start">
            <h3>ESTADO:</h3>

          </div>

          <div class="col-6 d-flex justify-content-end">
            <h3>IQUIQUE, </h3>
            <h3>14/02/2023</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5 d-flex justify-content-start  ">
            <h5>SOLICITO A UD. DISPONER </h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>PARA</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>UNIDAD</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>TIPO REEMPLAZO</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>POLITICA REEMPLAZO</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>TURNO</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>A FAVOR DE DON</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>PLANTA</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>CARGO</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>GRADO - HORAS</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>DESDE - HASTA</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5> <strong> PARA CUMPLIR LA AUSENCIA DE</strong>  </h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>CARGO </h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>PLANTA</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>GRADO - HORAS</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>HACE USO DE</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>AUSENTE DESDE</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

          <div class="col-4 mt-3 d-flex justify-content-start  ">
            <h5>HASTA</h5>
          </div>
          <div class="col-8 mt-3 d-flex justify-content-start  ">
            <h5>:</h5>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aprobar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Rechazar</button>


      </div>
    </div>
  </div>
</div>

<!--  fin Modal -->



